body{
    background: url(https://i.pinimg.com/564x/6c/5f/66/6c5f660e24b998ad07a3c156b4a6265b.jpg);
    background-size: cover;
}
h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0 3px #000;
}
p{
    color: #ffffff;
}
label{
    color: #ffffff;
}
.box {
    height: 250px;
    width: 400px;
    margin: 100px auto;
    backdrop-filter: blur(50px);
    border-radius: 10px;
    padding: 30px;
}
.block {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 15px;
    padding: 10px 0;
}
.box-input {
    background: transparent;
    outline: none;
    border: 0;
    color: #ffffff;
    padding-left: 100px;
}
.button-1 {
    border-radius: 10px;
    margin-left: 65px;
    height: 40px;
    width: 80px;
    background-color: rgb(13, 0, 255);
    font-weight: 600;
    cursor: pointer;
}
.button-2 {
    border-radius: 10px;
    margin-left: 100px;
    height: 40px;
    width: 80px;
    background-color: rgb(13, 0, 255);
    font-weight: 600;
    cursor: pointer;
}
.box-2{
    height: 1050px;
    width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    backdrop-filter: blur(50px);
    border-radius: 10px;
    padding: 30px;
}
.box-redio {
    margin: 0 auto;
    height: 50px;
    width: 400px;
    border-radius: 10px;
    padding: 30px;
    background-color: rgb(11, 102, 238);
    text-align: center;
}
.nationality-countries-file{ 
    display: block; 
    margin: 0px 30px; 
} 
.nationality-countries-div{ 
    padding: 10px; 
} 
.coment{ 
    display: block; 
    margin: 0px 30px; 
}
.image{ 
    text-align: center; 
    display: block; 
    margin: 0 auto; 
    padding: 5px; 
    border-radius: 30px; 
}
.nationality{ 
    width: 900px; 
    height: 1390px; 
    background-color: rgba(80, 80, 80, 0.63); 
    margin: 0 auto; 
    border-radius: 20px; 
    font-size: 18px; 
} 
.nationality-countries{ 
    padding: 30px 35px; 
} 
.nationality-countries-file{ 
    display: block; 
    margin: 0px 30px; 
} 
.nationality-countries-div{ 
    padding: 10px; 
} 
.coment{ 
    display: block; 
    margin: 0px 30px; 
} 
.image{ 
    text-align: center; 
    display: block; 
    margin: 0 auto; 
    padding: 5px; 
    border-radius: 30px; 
}
.button-3{
    border-radius: 20px;
    margin-left: 650px;
    height: 40px;
    width: 100px;
    background-color: rgb(255, 0, 0);
    font-weight: 600;
    cursor: pointer;
}
.button-1:active{
    width: 70px;
    height: 30px;
    background-color: rgb(14, 5, 186);
}
.button-2:active{
    width: 70px;
    height: 30px;
    background-color: rgb(14, 5, 186);
}
.button-3:active{
    height: 30px;
    width: 90px;
    background-color: rgb(186, 0, 0);
}
.box-p{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0 3px #000;
}